{
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "mocha": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "files": [
        {
            "patterns": [ "app/components/**/*.js" ],
            "rules": { "react/display-name": 2 },
            "ecmaFeatures": { "jsx": true },
            "plugins": [ "react" ]
        }
    ],
    "extends": [
        "eslint:recommended",
        "esnext"
    ],
    "plugins": [
        "react",
        "chai-friendly"
    ],
    "rules": {
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
        "no-unused-expressions": 0,
        "chai-friendly/no-unused-expressions": 2,
        "import/no-commonjs": 1
    }
}
