#score-table {
	width: 100%;
	border-collapse: separate;
	text-align: left;
}

#score-table tbody {
	height: 170px;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    width:100%;
}

#score-table thead {
	display: table-header-group;
}

#score-table th {
	padding: 5px;
	width: 70px;
}

#score-table td {
	padding: 5px;
	width: 70px;
	text-align: center;
}

#score-table thead tr {
	display: block;
	border-bottom: 2px solid black;
	font-weight: bold;
}

#score-table tbody tr {
	border-bottom: 1px solid black;
}
